/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */

@import "pages/product";

.voffset  { margin-top: 2px; }
.voffset1 { margin-top: 5px; }
.voffset2 { margin-top: 10px; }
.voffset3 { margin-top: 15px; }
.voffset4 { margin-top: 30px; }
.voffset5 { margin-top: 40px; }
.voffset6 { margin-top: 60px; }
.voffset7 { margin-top: 80px; }
.voffset8 { margin-top: 100px; }
.voffset9 { margin-top: 150px; }
.font-large-11 {font-size: 110%; }
.font-large-12 {font-size: 120%; }
.font-large-13 {font-size: 130%; }
.font-large-14 {font-size: 140%; }
.font-large-15 {font-size: 150%; }
.font-large-16 {font-size: 160%; }
.font-large-17 {font-size: 170%; }
.font-large-18 {font-size: 180%; }
.font-large-19 {font-size: 190%; }